<div class="container">
	<br>
	<p>
		This is an application that shows a robot that learned to walk, using different reinforcement learning algorithms (function V, function Q, Q-learning). It is implemented in Angular 2.
		<br>
		<br>
		Code can be found on <a target="_blank" href="https://github.com/ST7oo/walking_robot">https://github.com/ST7oo/walking_robot</a>
	</p>
	<br>
	<h3>Instructions</h3>
	<ul>
		<li>Just press the <b>Start</b> button</li>
		<li>Or before/after change the animation parameters and then press the <b>Start</b> button</li>
		<li>Or before/after change the policies parameters, press <b>Calculate policies</b> and then press the <b>Start</b> button</li>
	</ul>
	<hr>
	<p>
		<i>Rodney Ledesma</i>
	</p>
	<hr>
	<a [routerLink]="['/']" class="btn btn-default">Go back</a>
</div>