.end {
	margin-left: 70px;
	margin-top: 70px;
}

.animation {
	height: 220px;
}

.btn_reset {
	margin-left: 44px;
	margin-top: 4px;
}

.text_bold {
	font-weight: bold;
}

.btn_parameters {
	margin-top: 4px;
}

.title {
	padding-left: 33%;
}

.steps {
	max-height: 200px;
	overflow: auto;
}

td {
	text-align: center;
}

th {
	text-align: center;
}